<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->

<!-- Il fait importer dans @Component, HeaderComponent dans imports -->
<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <!-- fonctionne aussi si on n'a rien à mettre entre les tags 
       avatar est un signal mais pas user et cal fonctionne-->
      <app-user 
        [user]="users[0]"
        (select)="onSelectUser($event)"/>
        <!-- Pas seulement avec (select) mais aussi mais (click) par exemple -->
    </li>
    <li>
      <app-user 
        [user]="users[1]"
        (select)="onSelectUser($event)"/>
    </li>
    <li> 
      <app-user 
        [user]="users[2]"
        (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user 
        [user]="users[3]"
        (select)="onSelectUser($event)"/>
    </li>
  </ul>
  <!-- ? == Si ce n'est pas null, alors ok sinon, utilise undefined comme valeur ==> un langage js
   on peut aussu écrire un ternary expression-->
  <app-tasks [name]="selectedUser?.name" />
  <!-- <app-tasks [name]="selectedUser ? selectedUser.name: '' " /> -->
</main>
