<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->

<!-- Il fait importer dans @Component, HeaderComponent dans imports -->
<app-header></app-header>
<main>
  <ul id="users">
    <!-- track permet à angular d'updater la liste de manière plus éfficiante -->
    @for (user of users; track user.id) {
    <li>
      <!-- fonctionne aussi si on n'a rien à mettre entre les tags 
       avatar est un signal mais pas user et cal fonctionne-->
      <app-user 
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"/>
        <!-- Pas seulement avec (select) mais aussi mais (click) par exemple -->
    </li>
    }
  </ul>
  <!-- ? == Si ce n'est pas null, alors ok sinon, utilise undefined comme valeur ==> un langage js
   on peut aussu écrire un ternary expression-->
  @if (selectedUser) {
   <app-tasks [userId]="selectedUser.id"  [name]="selectedUser.name" />
    <!-- <app-tasks [name]="selectedUser ? selectedUser.name: '' " /> -->
  } @else {
    <p id="fallback">Select a user to see theis tasks!</p>
  }  
</main>


<!-- <main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user 
        [user]="user"
        (select)="onSelectUser($event)"/>
    </li>
  </ul>
   <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" />
   <ng-template #fallback>
    <p id="fallback">Select a user to see theis tasks!</p>
  </ng-template>
</main> -->
